.login-card {
    max-width: 400px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .card {
    border: none;
  }
  
  h1 {
    font-size: 1.5rem;
    color: #333;
  }
  
  .btn-primary {
    background-color: #0d47a1;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #005a9e;
  }
  